// nextflow.config

params {

	//general settings
	output_dir			= 'results'
	meta_file			= 'meta_data/sample_sheet.csv' // sample file with header having sampleId, file_name...
	meta_dir			= 'meta_data'
	guppy_is_cpu			= true 					// write false if you want to run on GPU
	fast5_dir			= '/export/home4/sk312p/projects/artic-nf_dev_version/raw_files/fast5'
	fastq_dir			= 'raw_files/fastq'
	guppy_dir			= '/export/home4/sk312p/projects/artic-nf_dev_version/ont-guppy-cpu/bin'
	primer_schema	                = '/export/home4/sk312p/projects/artic-nf_dev_version/meta_data/primer-schemes'
	fq_extension			= '.fastq'
	script				= 'scripts'
	threads				= 5 // number of cpus to use (for medaka, samtools, minimap2 etc)

	//guppy CPU settings
	//guppy_dir			= 'ont-guppy-cpu/bin'
	guppy_config			= 'dna_r9.4.1_450bps_fast.cfg' 		// change according to your data
	guppy_cpu_threads		= 4

	//guppy GPU settings
	//settings here

	//guppy barcoder setting
	guppy_barcode_kits		= 'EXP-NBD104'

	// guppy plex setting
	guppy_seq_len			= 350

	//medaka settings
	medaka_model			= 'r941_min_fast_g303'
	medaka_normalise	 	= 200 					//default value by medaka
}

conda {
	conda.enabled			= true
	docker.enabled			= false
	singularity.enabled		= false
	podman.enabled			= false
	shifter.enabled			= false
	charliecloud.enabled		= false
	apptainer.enabled		= false
}

manifest {

    name				= 'RAGE-toolkit/Artic-nf'
    author				= 'RAGE-toolkit'
    homePage				= 'https://github.com/RAGE-toolkit/Artic-nf'
    description				= 'Basecalling and consensus alignment'
    mainScript				= 'main.nf'
    nextflowVersion			= '23.10.0'
    version				= 'v1.0.0'

}

