// nextflow.config

params.output_dir = 'results1'

params.guppy_dir = 'ont-guppy-cpu/bin'

params.fast5_dir = '/test/data/fast5'

params.basecallDir = 'guppy_basecaller'

// artic medaka config
params.model = 'r941_min_fast_g303'
params.normalise = '200' //default value by medaka 
params.threads = '5'
params.medaka_schema = "primer-schemes/rabv_nigeria/V1/rabv_nigeria.reference.fasta"
params.medaka_outputdir = "medaka"
